#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# The Genesis payload is architecture specific, so the metapackage has to name the
# scripts package for the architecture it is built for. Debian spells POWER LE ppc64el
# and xCAT spells it ppc64; the package name follows Debian, the path inside the package
# follows xCAT.
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
GENESIS_SCRIPTS_PKG = xcat-genesis-scripts-$(DEB_HOST_ARCH)

build:
	pwd

clean:
	dh_testdir
	dh_testroot
	dh_clean -d

install:
	pwd
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install -X".svn"
	dh_link

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch:
	pwd
	export
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
	dh_install -X".svn"
#	chmod 755 `pwd`/debian/xcat/install/postscripts/*
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installdirs
	dh_installman
	dh_link
#	dh_strip
	dh_compress
#	dh_fixperms
	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol -- -Vperl:Depends=perl -Vxcat:Genesis=$(GENESIS_SCRIPTS_PKG)
	dh_md5sums
	dh_builddeb -- -Zgzip

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
